.card-list {
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  @media screen and (min-width: 767px) {

    .card-list{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1024px) {

    .card-list{
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1180px) {

    .card-list{
        grid-template-columns: repeat(4, 1fr);
    }
  }

  